body{
  text-align: center;
  font-family: monospace;
}
button{
  outline: none;
  border:none;
  height: 50px;
  width : 200px;
  font-size: 1rem;
  border-radius: 30px;
}
#dog-image{
  margin: 1%;
}
